
body {
    font-family: Arial, sans-serif;
    background-color: #2d3142;
    color: #2d3142;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #78CDD7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
}

/* Headings */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f45485;
}

/* Labels */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #FDE74C;
}

input[type="file"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label[for="tos"] {
    font-weight: normal;
}

/* Button styling */
input[type="submit"] {
    background-color: #EF2D56;
    color: #454851;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #CF264B;
}

/* Center align the TOS section */
label input[type="checkbox"] {
    vertical-align: middle;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    form {
        padding: 20px;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 8px;
    }
}
